<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.spring.usergroup.dao.SysDeptMapper">
	<resultMap id="BaseResultMap" type="cn.peyton.spring.usergroup.entity.SysDept">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="parent_id" property="parentId" jdbcType="INTEGER"/>
		<result column="level" property="level" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="INTEGER"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="operator" property="operator" jdbcType="VARCHAR"/>
		<result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
		<result column="operate_ip" property="operateIp" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,name,parent_id,level,seq,remark,operator,operate_time,operate_ip
	</sql>

	<insert id="insert" parameterType="cn.peyton.spring.usergroup.entity.SysDept" keyProperty="id" useGeneratedKeys="true">
		insert into sys_dept(id,name,parent_id,level,seq,remark,operator,operate_time,operate_ip)
		values (#{id},#{name},#{parentId},#{level},#{seq},#{remark},#{operator},#{operateTime},#{operateIp})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.spring.usergroup.entity.SysDept" keyProperty="id" useGeneratedKeys="true">
		insert into sys_dept
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="seq != null">
				seq,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="operator != null">
				operator,
			</if>
			<if test="operateTime != null">
				operate_time,
			</if>
			<if test="operateIp != null">
				operate_ip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="parentId != null">
				#{parentId},
			</if>
			<if test="level != null">
				#{level},
			</if>
			<if test="seq != null">
				#{seq},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="operator != null">
				#{operator},
			</if>
			<if test="operateTime != null">
				#{operateTime},
			</if>
			<if test="operateIp != null">
				#{operateIp},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_dept
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.spring.usergroup.entity.SysDept">
		update sys_dept
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId},
			</if>
			<if test="level != null">
				level = #{level},
			</if>
			<if test="seq != null">
				seq = #{seq},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="operator != null">
				operator = #{operator},
			</if>
			<if test="operateTime != null">
				operate_time = #{operateTime},
			</if>
			<if test="operateIp != null">
				operate_ip = #{operateIp},
			</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.spring.usergroup.entity.SysDept">
		update sys_dept
		set 
			name = #{name},
			parent_id = #{parentId},
			level = #{level},
			seq = #{seq},
			remark = #{remark},
			operator = #{operator},
			operate_time = #{operateTime},
			operate_ip = #{operateIp}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from sys_dept
		where id = #{id}
	</select>

	<!-- new create method   -->
    <select id="selectByAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
    </select>

    <select id="selectChildDeptListByLevel" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
        WHERE level LIKE CONCAT('',#{level} ,'%')
    </select>

    <update id="batchUpdateLevel" parameterType="map">
        <foreach collection="sysDeptList" item="sysDept" separator=";">
            UPDATE sys_dept
            SET level = #{sysDept.level}
            WHERE id = #{sysDept.id}
        </foreach>
    </update>

    <select id="countByNameAndParentId" parameterType="map" resultType="int">
        SELECT COUNT(1)
        FROM sys_dept
        WHERE name = #{name}
        <if test="parentId != null">
            AND parent_id = #{parentId}
        </if>
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="countByParentId" parameterType="int" resultType="int">
        SELECT COUNT(1)
        FROM sys_dept
        WHERE parent_id = #{deptId}
    </select>

</mapper>
