<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.spring.mall.dao.DeletePictureMapper">
	<resultMap id="BaseResultMap" type="cn.peyton.spring.mall.entity.DeletePicture">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Base_Column_List">
		id,name,status
	</sql>

	<insert id="insert" parameterType="cn.peyton.spring.mall.entity.DeletePicture" keyProperty="id" useGeneratedKeys="true">
		insert into tb_delete_picture(id,name,status)
		values (#{id},#{name},#{status})
	</insert>

	<insert id="insertSelective" parameterType="cn.peyton.spring.mall.entity.DeletePicture" keyProperty="id" useGeneratedKeys="true">
		insert into tb_delete_picture
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="status != null">
				#{status},
			</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tb_delete_picture
		where id = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.spring.mall.entity.DeletePicture">
		update tb_delete_picture
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateByPrimaryKey" parameterType="cn.peyton.spring.mall.entity.DeletePicture">
		update tb_delete_picture
		set 
			name = #{name},
			status = #{status}
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List"/>
		from tb_delete_picture
		where id = #{id}
	</select>


	<!-- new create method   -->

    <insert id="batchInsert">
        INSERT INTO tb_delete_picture
        (name, status)
        VALUES
        <foreach collection ="deletePictures" item="deletePicture" separator =",">
            (#{deletePicture.name}, #{deletePicture.status})
        </foreach >
    </insert>

    <select id="selectByAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        FROM tb_delete_picture
        ORDER BY id DESC
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="selectLikeByKeyword" resultMap="BaseResultMap" parameterType="map">
        select DISTINCT
        <include refid="Base_Column_List"/>
        FROM tb_delete_picture
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE concat('%',#{keyword},'%')
            )
        </if>
        ORDER BY id DESC
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM tb_delete_picture
    </select>

    <select id="countLikeByKeyword" resultType="java.lang.Integer" parameterType="string">
        SELECT DISTINCT COUNT(1)
        FROM tb_delete_picture
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND (
            name LIKE concat('%',#{keyword},'%')
            )
        </if>
    </select>

</mapper>
